body {
    background: #000000E5;
    color:#adadad;
    font-family: Montserrat;
    font-size: 15px;
}

h1 {
    display: inline;
}

h2 {
    display: inline;
}

hr {
    border: 1px dashed #00ff5933;
    width: 100%;
    margin-left: 0;
}

xmp {
    display: inline;
    font-family: Consolas;
    font-size: 17px;
}

p {
    display: inline;
}

pre {
    display: inline;
    font-family: Montserrat;
}

a {
    display: inline;
    font-family: Montserrat;
    color: #0077ffe5;
    font-size: 15px;
    text-decoration-color: #0077ffe5;
}

.h1_red {
    color: #ff0000;
    font-size: 23px;
}

.h2_orange {
    color: #ff9900;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
}

.h2_tab_cont {
    color: #c4c4c4;
    font-size: 15px;
    font-weight: normal;
}

.home_botton {
    position: fixed;
    top: 0px;
    right: 0px;
}

.xmr_for_title {
    display: inline;
    font-family: Consolas;
    color: #ff0000e5;
    font-size: 25px;
}

.xmp_without_space {
    position: relative;
    top: 0px;
    left: -40px;
}

.smile1 {
    position: relative;
    top: 10px;
    right: 0px;
}

.arrow_right1 {
    position: relative;
    top: 10px;
    left: 0px;
}

.span_code {
    font-family: Consolas;
    font-size: 17px;
}

.hr_short {
    width: 300px;
}

.p_important {
    color: #ffc400;
    text-decoration-line: underline;
}